.banner {
  color: white;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  /* text-shadow: 0px 2px 3px rgb(34, 34, 34); */
  /* padding-bottom: 132px; */
  /* padding-top: 62px; */
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  /* background: green; */
}

.centered-contents {
  display: flex;
  justify-content: center;
}

.centered-container h1, h2 {
  font-size: 56px;
  margin: 0;
  /* color: white; */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: left;
  font-weight: 600;
}

.centered-contents h2 {
  font-size: 32px;
  font-weight: 300;
}

.about-content p {
  margin: 0;
}

#project {
  padding: 0 0 16px 0;
}

@media screen and (max-width: 470px) {
  .centered-container {
    text-align: center!important;
  }

  .centered-container h1, h2 {
    text-align: center!important;
  }
}
