.button-green {
  font-size: 16px;
  color: #FFFFFF;
  padding: 8px 16px;
  /* border: 1px solid #1F5F51; */
  border-radius: 5px;
  transition: .5s ease-in-out;
  background: #33a58a;
}

.button-green:hover {
  background: #1F5F51;
}

#social-icon {
  font-size: 30px;
  color: #33a58a;
  transition: .5s ease-in-out;
}

#social-icon:hover {
  color: #1F5F51;
}

#devcon {
  font-size: 30px;
}

#html:hover {
  color: #e44d27;
}

#css:hover {
  color: #3c8fc6;
}

#javascript:hover {
  color: #efdc4f;
}

#rails:hover {
  color: #cc0200;
}

#heroku:hover {
  color: #6761a6;
}

#postgres:hover {
  color: #346791;
}

#wordpress:hover {
  color: #494949;
}
