@import url(components/avatar.css);
@import url(components/button.css);

/* || General style */
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-image: url(../images/background-new.jpeg);
  background-repeat: round;
  position: relative
}

p {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  margin: 8px;
}

h3 {
  font-size: 36px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Red Hat Display', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
}

/* || Page setup */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 2rem;
}

.centered-contents {
  display: flex;
  justify-content: center;
}

.centered-container h1, h2 {
  font-size: 56px;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: left;
  font-weight: 600;
}

.centered-contents h2 {
  font-size: 32px;
  font-weight: 300;
}

@media screen and (max-width: 470px) {
  .centered-container {
    text-align: center!important;
    margin-bottom: 5rem;
  }

  .centered-container h1, h2 {
    text-align: center!important;
  }

  .centered-contents {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #start {
    order: -1;
  }
}
